html,body{
    height: 100%;
    background: gainsboro;
    .container{
        display: flex;
        height: 100%;
        background: #f2eada;
        flex-direction: column;
        .lx-head{
            height: 50px;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                a{
                    font-size: 30px;
                    font-weight: 700;
                    color:#bed742;
                    text-decoration: none;
                }    
            }
            .right{
                display:flex;
                align-items: center;
                width: 240px;
                justify-content: space-between;
                p{
                    font-size: 16px;
                    font-weight: 700;
                    color: black;
                }
            }
        }
        .lx-foot{
            height: 50px;
            border-top:1px solid black;
        }
        .lx-main{
            flex:1;
            display: flex;
            background: #f6f5ec;
            .main-left{
                .menu{
                    width: 240px;
                    height: 100%;
                    border-right: 1px solid rgb(41, 39, 39);
                    overflow-y: auto;
                    a{
                        text-decoration: none;
                        color:#8e7437;
                        height: 50px;
                        width: 100%;
                        display: block;
                        text-align: center;
                        line-height: 50px;
                        font-size: 22px;
                        border-bottom:1px solid black;
                    }
                }  
            }
            .main-right{
                flex: 1;
            }
        }
    }
}
