.borderbox{
    width: 360px;
    height: 200px;
    margin: 160px auto;
    border:1px solid black;
    background:#d1c7b7;
    h1{
        font-size: 30px;
        text-align: center;
    }
    .borderboxwei{
        width: 255px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        label{
            font-size: 16px;
            line-height: 30px;
        }
        .textbox{
            width: 200px;
            overflow: hidden;
            input{
                width: 200px;
                height: 30px;
            }
          
        }
        .subbox{
            width: 255px;
            .button{
                width: 100px;
                height: 30px;
                border:1px solid black;
                border-radius: 5px;
                margin-left:75px;
            }
        }
    }
 }


