
.form-inline{
    width:360px;
    margin: 100px auto;
    border: 1px solid black;
    .form-group{
        margin-left:45px;
    }
    .manager{
        margin-left:45px; 
    }
    h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .button{
        width: 100px;
        height: 30px;
        border:1px solid black;
        border-radius: 5px;
        margin-left:75px;
    }

}
