<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xx后台管理系统</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/common.css">
</head>

<body>
  <div class="container">
    <%-include("./public/head.ejs")%>
    <div class="lx-main">
      <%-include("./public/mainleft.ejs")%>
      <div class="main-right"><img src="/images/index1.jpg" width="900" height="527"></div>
    </div>
    <%-include("./public/foot.ejs")%>
  </div>
</body>

</html>