<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <form class="borderbox" action="/users/login" method="POST">
        <h1>xxx后台管理系统</h1>
        <div class="borderboxwei">
            <label for="inputEmail3" class="">用户名:</label>
            <div class="textbox">
                <input type="text" class="" name="username" id="inputEmail3" placeholder="请输入用户名">
            </div>
        </div>
        <div class="borderboxwei">
            <label for="inputPassword3" class="">密&emsp;码:</label>
            <div class="textbox">
                <input type="password" class="" name="password" id="inputPassword3" placeholder="请输入密码">
            </div>
        </div>
        <div class="borderboxwei">
            <div class="textbox subbox">
                <input type="submit" class="button btn-primary" value="登录">
                <a href="">没有账号？</a>
            </div>
        </div>
    </form>
</body>

</html>