<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <form class="borderbox" action="/users/login" method="POST">
        <h1>xxx后台管理系统</h1>
        <div class="borderboxwei">
            <label for="inputEmail3" class="">用户名:</label>
            <div class="textbox">
                <input type="text" class="" name="username" id="inputEmail3" placeholder="请输入用户名" autocomplete="off">
                <div class="usertishi" style="display: none;position: absolute;">用户名不能为空</div>
            </div>
        </div>
        <div class="borderboxwei">
            <label for="inputPassword3" class="">密&emsp;码:</label>
            <div class="textbox">
                <input type="password" class="" name="password" id="inputPassword3" placeholder="请输入密码" autocomplete="off">
                <div class="checkpwd" style="display: none;position: absolute">密码不能为空</div>
            </div>
        </div>
        <div class="borderboxwei">
            <div class="textbox subbox">
                <input type="submit" class="button btn-primary" value="登录">
                <a href="/register.html">没有账号？</a>
            </div>
        </div>
    </form>
</body>

</html>
<script src="/jq/jquery.min.js"></script>
<script>
    $("#inputEmail3").focus(function () {
        $(".usertishi").show().html("请正确输入你的用户名");
    })
    $("#inputPassword3").focus(function () {
        $(".checkpwd").show().html("请正确输入你的密码");
    })
    $("#inputEmail3").blur(function () {
        if ($(this).val() == "") {
            $(".usertishi").show().html("用户名不能为空");
        } else {
            $(".usertishi").hide();
            $(".btn-primary").prop("disabled", false);
        }
    })
    $("#inputPassword3").blur(function () {
        if ($(this).val() == "") {
            $(".checkpwd").show().html("密码不能为空");
        } else {
            $(".checkpwd").hide();
            $(".btn-primary").prop("disabled", false);
        }
    })
    $(".btn-primary").click(function () {
        if ($("#inputPassword3").val() == "" || $("#inputEmail3").val() == "") {
            $(".btn-primary").prop("disabled", true);
        } else {
            $(".btn-primary").prop("disabled", false);
        }
    })

</script>