<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xx后台管理系统</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <div class="container">
    <form class="form-inline" action="/users/register" method="POST">
      <h1>xxx后台管理系统</h1>
      <div class="form-group">
        <label for="exampleInputName2">用户&emsp;名：</label>
        <input type="text" name="username" class="form-control" id="exampleInputName2" placeholder="请输入用户名">
      </div>
      <br><br>
      <div class="form-group">
        <label for="exampleInputpwd">密&emsp;&emsp;码：</label>
        <input type="password" name="password" class="form-control" id="exampleInputpwd" placeholder="请输入密码">
      </div>
      <br><br>
      <!-- <div class="form-group">
        <label for="exampleInputpwd1">确认密码：</label>
        <input type="password" name="" class="form-control" id="exampleInputpwd1" placeholder="请确认密码">
      </div>
      <br><br> -->
      <div class="form-group">
        <label for="exampleInputname1">昵&emsp;&emsp;称：</label>
        <input type="text" name="nickname" class="form-control" id="exampleInputname1" placeholder="请输入昵称">
      </div>
      <br><br>
      <div class="form-group">
        <label for="exampleInputage">年&emsp;&emsp;龄：</label>
        <input type="text" name="age" class="form-control" id="exampleInputage" placeholder="请输入年龄">
      </div>
      <br><br>
      <div class="form-group">
        <label>性&emsp;&emsp;别：</label>
        <label class="radio-inline">
          <input type="radio" name="sex" id="inlineRadio3" value="男" checked>男
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" id="inlineRadio4" value="女"> 女
        </label>
      </div>
      <br><br>
      <div class="form-group">
        <label for="exampleInputphone">手机号码：</label>
        <input type="tel" name="phone" class="form-control" id="exampleInputphone" placeholder="请输入手机号码">
      </div>
      <br><br>
      <label class="manager">管理&emsp;员：</label>
      <label class="radio-inline">
        <input type="radio" name="isAdmin" id="inlineRadio1" value="是">是
      </label>
      <label class="radio-inline">
        <input type="radio" name="isAdmin" id="inlineRadio2" value="不是" checked> 不是
      </label>
      <br><br>
      &emsp;&emsp;&emsp;<input type="submit" class="button btn-primary" value="注册">
      <a href="/login.html">立即登录?</a>
    </form>
  </div>
</body>

</html>