<div class="lx-head">
    <div class="left">
       <a href="/" class="logo">xxx后台管理系统</a>
    </div>
    <div class="right">
        <p>欢迎您--<span>admin</span>--(<span>管理员</span>)</p>
        <button class="btn btn-primary">退出</button>
    </div>
</div>