<div class="lx-head">
    <div class="left">
       <a href="/" class="logo">xxx后台管理系统</a>
    </div>
    <div class="right">
        <% for(var i=0;i<listarr.length;i++){ %>
        <p>欢迎您--<span><%= listarr[i].username %></span>--(<span><%= listarr[i].nickname %></span>)</p>
        <% } %>
        <button class="btn btn-primary">退出</button>
    </div>
</div>